<div class='trackasia-directions-component trackasia-directions-inputs'>
  <div class='trackasia-directions-component-keyline'>
    <div class='trackasia-directions-origin'>
      <label class='trackasia-form-label'>
        <span class='directions-icon directions-icon-depart'></span>
      </label>
      <div id='trackasia-directions-origin-input'></div>
    </div>

    <button
      class='directions-icon directions-icon-reverse directions-reverse js-reverse-inputs'
      title='Reverse origin &amp; destination'>
    </button>

    <div class='trackasia-directions-destination'>
      <label class='trackasia-form-label'>
        <span class='directions-icon directions-icon-arrive'></span>
      </label>
      <div id='trackasia-directions-destination-input'></div>
    </div>
  </div>

  <% if (controls.profileSwitcher) { %>
  <div class='trackasia-directions-profile trackasia-directions-component-keyline trackasia-directions-clearfix'>
    <input
      id='trackasia-directions-profile-car'
      type='radio'
      name='profile'
      value='car'
      <% if (profile === 'car') { %>checked<% } %>
    />
    <label for='trackasia-directions-profile-driving'>Ô tô</label>
    <input
      id='trackasia-directions-profile-walking'
      type='radio'
      name='profile'
      value='walking'
      <% if (profile === 'walking') { %>checked<% } %>
    />
    <label for='trackasia-directions-profile-walking'>Đi bộ</label>
    <input
      id='trackasia-directions-profile-cycling'
      type='radio'
      name='profile'
      value='bicycle'
      <% if (profile === 'bicycle') { %>checked<% } %>
    />
    <label for='trackasia-directions-profile-cycling'>Xe đạp</label>
  </div>
  <% } %>
</div>
