<div class='directions-control directions-control-directions'>
  <div class='trackasia-directions-component trackasia-directions-route-summary<% if (routes > 1) { %> trackasia-directions-multiple<% } %>'>
    <% if (routes > 1) { %>
    <div class='trackasia-directions-routes trackasia-directions-clearfix'>
      <% for (var i = 0; i < routes; i++) { %>
        <input type='radio' name='routes' id='<%= i %>' <% if (i === routeIndex) { %>checked<% } %>>
        <label for='<%= i %>' class='trackasia-directions-route'><%= i + 1 %></label>
      <% } %>
    </div>
    <% } %>
    <h1><%- duration %></h1>
    <span><%- distance %></span>
  </div>

  <div class='trackasia-directions-instructions'>
    <div class='trackasia-directions-instructions-wrapper'>
      <ol class='trackasia-directions-steps'>
        <% steps.forEach(function(step) { %>
          <%
            var distance = step.distance ? format(step.distance) : false;
            var icon = step.maneuver.modifier ? step.maneuver.modifier.replace(/\s+/g, '-').toLowerCase() : step.maneuver.type.replace(/\s+/g, '-').toLowerCase();

            if (step.maneuver.type === 'arrive' || step.maneuver.type === 'depart') {
              icon = step.maneuver.type;
            }

            if (step.maneuver.type === 'roundabout' || step.maneuver.type === 'rotary') {
              icon= 'roundabout';
            }

            var lng = step.maneuver.location[0];
            var lat = step.maneuver.location[1];
          %>
          <li
            data-lat='<%= lat %>'
            data-lng='<%= lng %>'
            class='trackasia-directions-step'>
            <span class='directions-icon directions-icon-<%= icon %>'></span>
            <div class='trackasia-directions-step-maneuver'>
              <%= step.maneuver.instruction %>
            </div>
            <% if (distance) { %>
              <div class='trackasia-directions-step-distance'>
                <%= distance %>
              </div>
            <% } %>
          </li>
        <% }); %>
      </ol>
    </div>
  </div>
</div>
